{
  "presets": [
    ["env", {
      "targets": {
        "node": ["8.1.2"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-react-jsx",
    "transform-react-jsx-source"
  ]
}
