{
  "presets": ["latest"],
  "plugins": [
    "transform-regenerator",
    "syntax-decorators",
    "transform-es2015-destructuring",
    "transform-async-generator-functions",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
